<template>
    <div v-if="activeInput.variables" class="project-inputs">
        <property-accordion
            :title="t('variables.title')"
            group="input-properties"
            open
            test-id="variables-group"
            summary-test-id="variables-summary"
        >
            <div class="project-preparations">
                <div
                    v-for="([key, value], index) in variableEntries(activeInput)"
                    :key="key"
                    class="project-preparation"
                >
                    <input
                        :value="key"
                        type="text"
                        spellcheck="false"
                        :data-testid="`variable-key-${index}`"
                        @change="updateVariableKey(activeInput, key, $event)"
                    />
                    <input
                        :value="value"
                        type="text"
                        spellcheck="false"
                        :data-testid="`variable-value-${index}`"
                        @input="updateVariableValue(activeInput, key, $event)"
                    />
                    <details
                        class="variable-reference-menu"
                        :data-variable-reference-owner="`variable-reference-${key}`"
                        :open="activeVariableReferenceKey === key"
                        @toggle="toggleVariableReferenceMenu(key, $event)"
                    >
                        <summary
                            class="icon-button icon-button--small"
                            :aria-label="t('variables.copyReference')"
                            :title="t('variables.copyReference')"
                            :data-testid="`variable-copy-${index}`"
                            data-flyout-trigger
                        >
                            <i class="bi bi-copy" aria-hidden="true"></i>
                        </summary>
                        <teleport to="body">
                            <div
                                v-if="activeVariableReferenceKey === key"
                                class="flyout-portal flyout-host"
                                data-flyout-global
                                :data-flyout-owner="`variable-reference-${key}`"
                                :data-flyout-anchor-selector='`[data-testid="variable-copy-${index}"]`'
                                data-flyout-preferred-placement="below"
                                data-flyout-placement="below"
                            >
                                <div class="flyout-menu variable-reference-menu__options">
                                    <button
                                        type="button"
                                        @click="copyVariableReference('javascript', key)"
                                    >
                                        {{ t('variables.javascript') }}
                                    </button>
                                    <button
                                        type="button"
                                        @click="copyVariableReference('html', key)"
                                    >
                                        {{ t('variables.html') }}
                                    </button>
                                    <button
                                        type="button"
                                        @click="copyVariableReference('css', key)"
                                    >
                                        {{ t('variables.css') }}
                                    </button>
                                </div>
                            </div>
                        </teleport>
                    </details>
                    <button
                        class="icon-button icon-button--small"
                        type="button"
                        :aria-label="t('variables.remove')"
                        :title="t('variables.remove')"
                        @click="removeVariable(activeInput, key)"
                    >
                        <i class="bi bi-trash3" aria-hidden="true"></i>
                    </button>
                </div>
                <button
                    class="text-action"
                    type="button"
                    data-testid="add-variable"
                    @click="addVariable(activeInput)"
                >
                    <i class="bi bi-plus-lg" aria-hidden="true"></i>{{ t('variables.add') }}
                </button>
            </div>
        </property-accordion>
    </div>
    <div v-else class="project-inputs">
        <property-accordion
            :title="t('project.inputValue')"
            :preview="activeInput.file?.name ?? ''"
            group="input-properties"
            open
            test-id="input-file-group"
            summary-test-id="input-file-summary"
        >
            <div class="project-input">
                <property-field :label="t('project.inputId')">
                    <input :value="activeInput.id" type="text" spellcheck="false" readonly />
                </property-field>
                <div
                    class="property-field property-field--flyout flyout-host"
                    :data-testid="`project-input-${activeInput.id}-accept-field`"
                >
                    <span
                        class="property-field__label"
                        :id="`project-input-${activeInput.id}-accept-label`"
                    >
                        {{ t('project.inputAccept') }}
                    </span>
                    <span class="tag-combobox">
                        <span
                            v-for="value in inputAcceptValues(activeInput)"
                            :key="value"
                            class="tag-pill"
                        >
                            {{ value }}
                            <button
                                type="button"
                                :aria-label="t('project.removeInputAccept', { value })"
                                @click="removeInputAccept(activeInput, value)"
                            >
                                <i class="bi bi-x" aria-hidden="true"></i>
                            </button>
                        </span>
                        <input
                            v-model="inputAcceptQueries[activeInput.id]"
                            type="text"
                            role="combobox"
                            autocomplete="off"
                            spellcheck="false"
                            :data-testid="`project-input-${activeInput.id}-accept`"
                            :aria-labelledby="`project-input-${activeInput.id}-accept-label`"
                            :aria-expanded="String(activeInputAcceptId === activeInput.id)"
                            :aria-controls="`project-input-${activeInput.id}-accept-options`"
                            :placeholder="t('project.inputAcceptPlaceholder')"
                            data-flyout-trigger
                            @focus="focusInputAccept(activeInput.id)"
                            @input="focusInputAccept(activeInput.id)"
                            @blur="blurInputAccept(activeInput.id)"
                            @keydown="handleInputAcceptKeydown(activeInput, $event)"
                        />
                    </span>
                    <teleport to="body">
                        <span
                            v-if="
                                activeInputAcceptId === activeInput.id &&
                                inputAcceptSuggestions(activeInput).length
                            "
                            class="flyout-portal flyout-host"
                            :data-flyout-anchor-id="activeInput.id"
                            data-flyout-global
                            data-flyout-preferred-placement="below"
                            data-flyout-placement="below"
                        >
                            <span
                                :id="`project-input-${activeInput.id}-accept-options`"
                                class="flyout-menu tag-suggestions"
                                role="listbox"
                            >
                                <button
                                    v-for="suggestion in inputAcceptSuggestions(activeInput)"
                                    :key="suggestion"
                                    type="button"
                                    role="option"
                                    @mousedown.prevent
                                    @click="addInputAccept(activeInput, suggestion)"
                                >
                                    {{ suggestion }}
                                </button>
                            </span>
                        </span>
                    </teleport>
                </div>
                <toggle-control
                    v-model="activeInput.required"
                    :label="t('project.inputRequiredToggle')"
                    :test-id="`project-input-${activeInput.id}-required`"
                    @change="markExecutionDirty"
                ></toggle-control>
                <property-field :label="t('project.inputValue')">
                    <input
                        :data-testid="`project-input-${activeInput.id}`"
                        type="file"
                        :accept="activeInput.accept"
                        @change="updateInputFile(activeInput.id, $event)"
                    />
                </property-field>
            </div>
        </property-accordion>
        <property-accordion
            :title="t('project.prepareModules')"
            group="input-properties"
            test-id="input-prepare-group"
            summary-test-id="input-prepare-summary"
        >
            <div class="project-preparations">
                <div
                    v-for="(module, index) in activeInput.prepare?.modules ?? []"
                    :key="`${activeInput.id}-${index}`"
                    class="project-preparation"
                >
                    <input
                        :value="module"
                        type="text"
                        spellcheck="false"
                        :data-testid="`project-input-${activeInput.id}-prepare-module-${index}`"
                        :aria-label="t('project.prepareModule')"
                        :placeholder="t('project.prepareModulePlaceholder')"
                        @input="updateInputPreparation(activeInput.id, index, $event)"
                    />
                    <button
                        class="icon-button icon-button--small"
                        type="button"
                        :data-testid="`project-input-${activeInput.id}-remove-prepare-module-${index}`"
                        :aria-label="t('project.removePrepareModule')"
                        @click="removeInputPreparation(activeInput.id, index)"
                    >
                        <i class="bi bi-x-lg" aria-hidden="true"></i>
                    </button>
                </div>
                <button
                    class="text-action"
                    type="button"
                    :data-testid="`project-input-${activeInput.id}-add-prepare-module`"
                    @click="addInputPreparation(activeInput.id)"
                >
                    <i class="bi bi-plus-lg" aria-hidden="true"></i>
                    {{ t('project.addPrepareModule') }}
                </button>
            </div>
        </property-accordion>
    </div>
</template>
